<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
 <typeAliases>
 	<typeAlias alias="Admin" 	type="com.parking.vo.Admin"/>
 	<typeAlias alias="Customer" type="com.parking.vo.Customer"/>
 	<typeAlias alias="Parking" 	type="com.parking.vo.Parking"/>
	<typeAlias alias="Reservation" type="com.parking.vo.Reservation"/>
 	<typeAlias alias="WishList" type="com.parking.vo.WishList"/>
 	<typeAlias alias="Review" type="com.parking.vo.Review"/>
 	<typeAlias alias="Parking" type="com.parking.vo.Parking"/>
 	<typeAlias alias="Partner" type="com.parking.vo.Partner"/>
 	<typeAlias alias="Breakdown" type="com.parking.vo.Breakdown"/>
 </typeAliases>

  <mappers>
  	<mapper resource="AdminMapper.xml"/>
  	<mapper resource="CustomerMapper.xml"/>
 	<mapper resource="ParkingMapper.xml"/>
 	<mapper resource="ReservationMapper.xml"/>
 	<mapper resource="WishListMapper.xml"/>
 	<mapper resource="ReviewListMapper.xml"/>
 	<mapper resource="PartnerMapper.xml"/>
 	<mapper resource="BreakdownMapper.xml"/>
  </mappers>
  
</configuration>