<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="WishListMapper">

<!-- 해당 고객의 위시리스트 @author yunmeheo -->
<select id="selectById" parameterType="String" resultType="WishList">
	SELECT * 
	FROM WISHLIST 
	WHERE id = #{c_id}
</select>

</mapper>